<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="981f68db-5f8b-457a-bcd3-27e5fdc7b617" Alias="VendrCheckout.OrderSummary.GiftCard" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Gift Card</Translation>
    <Translation Language="nl-NL">Cadeaukaart</Translation>
  </Translations>
</Dictionary>