<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9f40a1b0-367d-432a-b987-47392da6844f" Alias="VendrCheckout.Information.Email" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email</Translation>
    <Translation Language="nl-NL">E-mail</Translation>
  </Translations>
</Dictionary>