<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="38fd4956-dc01-4581-9182-5a5150a7f4ce" Alias="VendrCheckout.OrderSummary.HideSummary" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Hide Order Summary</Translation>
    <Translation Language="nl-NL">Verberg Besteloverzicht</Translation>
  </Translations>
</Dictionary>