<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4d01d96a-64bc-4466-a3d8-8c7df245fc08" Alias="VendrCheckout.PaymentMethod.NothingToPay" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">It looks like today is your lucky day, there is nothing for you to pay 🎉</Translation>
    <Translation Language="nl-NL">Het lijkt er op dat het je geluksdag is, er is niks om af te rekenen :)</Translation>
  </Translations>
</Dictionary>