<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55ececa9-8825-46dd-8ee0-841d1dbf460b" Alias="VendrCheckout.ShippingMethod" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Shipping Method</Translation>
    <Translation Language="nl-NL">Verzendmethode</Translation>
  </Translations>
</Dictionary>