<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="420a67ff-d0b9-41c5-99d0-e116e5ee6168" Alias="VendrCheckout.OrderSummary.Tax" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Tax</Translation>
    <Translation Language="nl-NL">BTW</Translation>
  </Translations>
</Dictionary>