<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="856de930-03f5-49c4-a88f-b11651d0d0cf" Alias="VendrCheckout.OrderInfo.ContactInformation" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contact Information</Translation>
    <Translation Language="nl-NL">Contact Informatie</Translation>
  </Translations>
</Dictionary>