<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67e77a6a-c6f8-46d1-8c8b-aa5d007c1599" Alias="VendrCheckout.PaymentMethod" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Payment Method</Translation>
    <Translation Language="nl-NL">Betaalmethode</Translation>
  </Translations>
</Dictionary>