<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0baf316e-ead7-42b0-8d10-61956a208f27" Alias="VendrCheckout.Information.BillingAddress" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Billing Address</Translation>
    <Translation Language="nl-NL">Factuuradres</Translation>
  </Translations>
</Dictionary>