<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4aa6df5b-4f3e-4e11-9fa3-2e63b630cf20" Alias="VendrCheckout.Information.Comments" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Comments</Translation>
    <Translation Language="nl-NL">Moeten wij ergens rekening mee houden?</Translation>
  </Translations>
</Dictionary>