<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cad7a70a-a6a7-4b78-afc6-5e092196a6d0" Alias="VendrCheckout.OrderSummary.Total" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Total</Translation>
    <Translation Language="nl-NL">Totaal</Translation>
  </Translations>
</Dictionary>