<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d129377c-55f6-4aeb-b400-20a84e3a0a1c" Alias="VendrCheckout.OrderSummary.ShowSummary" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Show Order Summary</Translation>
    <Translation Language="nl-NL">Toon Besteloverzicht</Translation>
  </Translations>
</Dictionary>