<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="82223f5c-4b74-41ac-8985-685904416dd6" Alias="VendrCheckout.Confirmation.ReturnToStore" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Return to store</Translation>
    <Translation Language="nl-NL">Terug naar de shop</Translation>
  </Translations>
</Dictionary>