<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a24e4e42-96ea-4df4-85ad-fe923b05717e" Alias="VendrCheckout.Navigation.ReturnTo" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Return to</Translation>
    <Translation Language="nl-NL">Terug naar</Translation>
  </Translations>
</Dictionary>