<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d9d2621-689e-46d8-adaf-1b6ba4c51244" Alias="VendrCheckout.Information.ContactInformation" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contact Information</Translation>
    <Translation Language="nl-NL">Contactgegevens</Translation>
  </Translations>
</Dictionary>