<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="69a12ec9-dd43-43c7-9bb6-eaf5597e2064" Alias="VendrCheckout.Information.Address2" Level="1">
  <Info>
    <Parent>VendrCheckout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Address (Line 2)</Translation>
    <Translation Language="nl-NL">Extra adres regel</Translation>
  </Translations>
</Dictionary>